/* ===== DEFAULT DESKTOP/LAPTOP STYLE ===== */
/* Bu qism sen bergan oxirgi rasmga mos bo‘lib qoladi */
.advantages-section {
  margin-top: 136px;
  margin-bottom: 46px;
}

.advantages-title-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.advantages-card {
  opacity: 1;
  border-width: 7px;
  height: 240px !important;
  justify-content: space-between;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  padding-left: 34px;
  padding-top: 20px;

  &.red {
    width: 272px !important;
    padding-bottom:490px ;
    position: relative;
    z-index: 5;
    border: 7px solid #000000;

    .card-map-img {
      position: absolute;
      top: 122px;
      right: -100px;
      z-index: -1;
      transform: rotate(13deg);
    }

    .buy-car-btn {
      width: 188px;
      height: 92px;
      position: absolute;
      right: 227px;
      top: 392px;
      display: flex;
      align-items: center;
      background-color: #fff;

      button {
        font-weight: 700;
        font-size: 14px;
        text-transform: uppercase;
        color: #fff;
        background-color: #D60000;
        border: none;
        padding: 20px 35px;
      }
    }
  }
}
.advantages-card-title-black,
.advantages-card-title-red {
  font-weight: 900;
  font-size: 100px;
  line-height: 85%;
  letter-spacing: -15px;
  text-transform: uppercase;
  margin-bottom: 26px;
}

.advantages-card-title-red {
  color: #D60000;
}

.advantages-card-info {
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  letter-spacing: 0.6px;
  max-width: 163px;
  margin-bottom: 22px;

  &.red {
    color: #D60000;
  }
  
}