.useful-section{
    margin-bottom: 92px;
    .useful-top{
        display: flex;
        gap: 200px;
        margin-left: 103px;
    }
}
.online-auctions-box{
    border: 7px solid #000000;
    width: 167px;
    height: 366px;
    border-width: 7px;
    display: flex;
    padding-top: 28px;
    padding-bottom:58px;
    padding-left: 40px;
    padding-right: 52px;
    span{
        font-weight: 900;
        font-size: 36px;
        line-height: 96%;
        text-transform: uppercase;
        color: #D60000;
    }
}
.construction-info.useful{
    width: 158px;
    margin: 0;
}
.useful-left-top{
    display: flex;
    gap: 32px;
    align-items: start;
    position: relative;
}
.useful-phone-img{
    position: absolute;
    top: 263px;
    left: 89px  ;
}
.red-circle-title.useful{
    padding-top: 158px !important;
    font-weight: 700;
    font-size: 44px;
    line-height: 84%;
    letter-spacing: -1px;
    text-transform: uppercase;
    margin-top: -1px;
    margin-left: 105px;
}
.useful-section-cloud{
    position: absolute;
    left: 313px;
    top: -3.5px;
}
.show-more-btn.useful{
    margin: 0;
    margin-top: 19px;
}
.red-circle-info.useful{
    position: absolute;
    bottom: 199px;
    width: 234px;
    right: 12px;
}
.laptop-img-useful{
    position: absolute;
    top: 259px;
    right: 73px;
}
.useful-bottom-title{
    margin-top: 248px;
    font-weight: 700;
    font-size: 44px;
    line-height: 84%;
    letter-spacing: -1px;
    width: 394px ;
    text-transform: uppercase;
}
.useful-bottom-info{
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    width: 487px;
    margin-bottom: 43px;
}   
.swiper-button-lock{
    display: block;
}
.product-swiper-navigation-box.bottom{
    justify-content: center;
}
.useful-bottom{
    margin-top: -16px;
    margin-left: 79px;
}
.useful-footer{
    background-color: #D60000;
    width: 100%;
    margin-top: 248px;
    position: relative;
    color: #fff;
    display: flex;
    gap: 36px;
    padding-left: 145px;
    padding-top: 18px;
    padding-bottom: 24px;
    &-info{
        font-weight: 400;
        font-size: 16px;
        width: 487px;
        line-height: 110.00000000000001%;
        margin-left: -19px;
        margin-top: 9px;
    }
    &-button{
        border: 1px solid #FFFFFF;
        width: 226px;
        height: 50px;
        font-weight: 700;
        font-size: 14px;
        line-height: 79%;
        text-transform: uppercase;
        padding-left: 62px;
        padding-right: 62px;
        color: #fff;
        margin-left: -2px;
    }
    .useful-footer-ship-img{
        position: absolute;
        bottom: 0;
        right: 11px;
    }
}
.title{
    white-space: nowrap;
}
.useful-left{
    margin-top: 27px;
}