.buy-car-btn-big{
    display: none !important;
}
.advantages-card-box {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Dastlab 4 ta ustun */
  gap: 20px; /* Kartalar orasidagi masofa */
  justify-content: center;
  width: 100%;
}

/* Tablet (maks. 1024px) - 2 ta ustun */
@media (max-width: 1024px) {
  .advantages-card-box {
    grid-template-columns: repeat(2, 1fr);
    gap: 120px;
    width: 100%;
  }
}

/* Mobile (maks. 768px) - 1 ta ustun */
@media (max-width: 768px) {
      .sub-title{
        font-weight: 900;
        font-size: 14px;
        line-height: 180%;
        letter-spacing: 8px !important;
        text-transform: uppercase;
    }
    .advantages-card-box{
      gap: 0;
    }
    .advantages-card.red{
      padding: 13px !important;
    }
    .advantages-title-img{
        width: 36px;
        height: 76px;
    }
  .advantages-card-box {
    grid-template-columns: 1fr;
    width: 100%;
  }
  .title{
    font-weight: 900;
    font-size: 32px;
    line-height: 85%;
    letter-spacing: -3px;
    text-transform: uppercase;
  }
  .advantages-card-box .advantages-card,
  .advantages-card-box .advantages-card.red {
    flex-direction: row !important;
    align-items: center !important;
    width: 100%;
    justify-content: space-between !important;
    padding-top: 13px;
    border-width: 3px;
    padding-bottom: 13px;
    padding-right: 16px;
    padding-left:13px;
    width: 100% !important;
    height: 53px !important;
    .advantages-card-title-black,
    .advantages-card-title-red {
        font-weight: 900;
        font-size: 32px;
        line-height: 85%;
        letter-spacing: -3px;
        text-transform: uppercase;
    }
    .advantages-card-info{
        font-weight: 700;
        font-size: 14px;
        line-height: 90%;
        letter-spacing: -0.5px;
        margin: 0;
    }
    .show-more-btn{
        span{
            display: none;
        }
        img{
            width: 15px;
            height: 15px;
        }
    }
  }
      .card-map-img{
    display: none;
  }
  .buy-car-btn{
    display: none !important;
    button{
        display: none !important;
    }
  }
}
.advantages-centred-box{
    display: flex;
    justify-content: center;
}
.buy-car-btn-big{
    display: block;
    font-weight: 700;
    font-size: 14px;
    line-height: 79%;
    letter-spacing: -0.5px;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    color: #fff;
    background-color: #D60000;
    border: none;
    padding-top: 20px;
    padding-bottom: 20px;
    cursor: pointer;
}
.swiper{
    overflow: visible !important;
}