@media (max-width: 768px){
    .swiper.introSwiper{
        .swiper-slide{

            .intro-title{
                font-weight: 900;
                font-size: 55px;
                line-height: 85%;
                letter-spacing: -8px;
                text-transform: uppercase;
                margin-top: 16px;
                margin-left: 5px;
            }
            .intro-cars-img{
                left: 0;
                .desktop-img{
                    display: none;  
                }
                .mobile-img{
                    width: 265px;
                    display: block;
                    margin-left: 95px;
                    margin-top: -10px;
                }
            }
            .intro-info{
                display: none;
            }
            .intro-info.desktop{
                display: block;
            }
            .black-borders-box{
                width: 55px;
                height: 190px;
                padding: 0;
                padding-top: 8px;
                gap: 0 !important;
                justify-content: center;
                padding-left: 10px;
                padding-right: 10px;
                top: 38px;
                left: 26px;
                border-width: 2px;
            }
            .black-border-box{
                font-size:13px;
                display: flex;
                flex-direction: column;
                &.right{
                    margin-left:9px;
                    margin-top: 6px;
                }
                &.left{
                    margin-right:-4px;
                    margin-top: 5px;
                }
                .black-borders-box .black-box-uppercase {
                    margin-bottom: 17px !important;
                }

            }
            .intro-bg-buildings,
            .intro-red-circle{
                display: none;
            }
        }
    }
    .intro-info.desktop{
        display: none !important;
    }
    .intro-info.mobile{
        display: block !important;
        max-width: 252px;
        font-weight: 400;
        font-size: 14px;
        line-height: 113%;
        margin-top: 215px;
        margin-left: 26px;
        .show-more-btn.intro{
            display: block;
            margin-left: 0;
            margin-top: 18px !important;
        }
    }
        .buy-car-btn-big{
            display: block !important;
            width: 304px !important;
            letter-spacing: 3px !important;
            margin-top: 31px;
        }
    }
    .show-more-btn.intro{
        display: none;
    }
.intro-info.mobile{
    display: none;
}
.product-content-top{
    display: flex;
    justify-content: space-between;
}
