.header-mobile-link {
  display: none;
}
@media (max-width: 768px){
    .header-mobile-link {
        display: block;
        margin-left: 10px;
    }
    .container{
        padding: 0 8px !important;
    }
    .header-mobile-link.assorti-logo img {
        width: 65px !important;
        height: 31px !important;
    }
    .header-mobile-link img {
        width: 20px;
        height: 20px;
    }
    .header-desktop-logo{
        display: none;
    }
    .header-red-big-logo img{
        width: 40px !important;
        height: 40px !important;
    }
}
.header-right-logo-box{
    display: flex;
    align-items: center;
}