.header-mobile-link {
  display: none;
}
@media (max-width: 768px){
    .header-mobile-link {
        display: block;
        margin-left: 10px;
    }
    .container{
        padding: 0 8px !important;
    }
    .header-mobile-link.assorti-logo img {
        width: 65px !important;
        height: 31px !important;
        margin-top: 7px;
        margin-left:40px;
    }
    .header-mobile-link img {
        width: 20px;
        height: 20px;
    }
    .header-desktop-logo{
        display: none;
    }
    .header-red-big-logo img{
        width: 40px !important;
        height: 40px !important;
    }
    .header-red-big-logo{
        width: 40px;
        height: 40px;
        img{
            width: 13px !important;
        }
    }
    .header-desktop-logo.right{
        display: none;
    }
    // .header-mobile-link.skype{
    //     margin-right: 4px;
    // }
    .header-mobile-link.whatsapp{
        img{
            margin-left: -4px;
            margin-right: -4px;
        }
    }
    .header-mobile-link.car-icon{
        margin-right: 8px;
        img{
            width: 24px !important;
            height: 24px !important;
        }
    }
}
.header-right-logo-box{
    display: flex;
    align-items: center;
}