header{
    display: flex;
    justify-content: space-between;
}
.header-red-big-logo{
    display: flex;
    background-color: #D60000;
    width: 80px;
    height: 80px;
    justify-content: center;
    align-items: center;
    img{
        width: 26px;
    }
}
.header-desktop-logo.right{
    display: flex;
    justify-content: center;
    align-items: center ;
    background-color: #000;
    width: 80px;
    height: 80px;
    img{
        width: 40px;
    }
}