body{
    font-family: 'Plumb';   
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
button{
    cursor: pointer;
    background: none;
    border: none;
}
.wrapper{
    overflow: hidden !important;
}
.buy-car-btn {
    button:hover{
        background-color: #fff !important;
        color: #D60000 !important;
        border: 1px solid #D60000 !important;
    }
}
.container{
    max-width: 1240px;
    margin: 0 auto;
}
.container-big{
    width: 1218px;
    margin: 0 auto;
}
.title{
    font-weight: 900;
    color: #D60000;
    font-size: 70px;
    line-height: 71%;
    letter-spacing: -7px;
    text-transform: uppercase;
}
.sub-title{
    font-weight: 900;
    font-style: Black;
    font-size: 14px;
    line-height: 180%;
    letter-spacing: 8px !important;
    text-transform: uppercase;
    margin-top: 10px;
    color: black;
    max-width: 623px;
    display: flex;
    justify-content: space-between;
}
.show-more-btn{
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    text-decoration: underline;
    text-decoration-style: solid;
    color: #D60000;
    display: flex;
    gap: 13px;
}
.sub-title{
    flex-wrap: wrap;
}
.swiper-pagination-bullet.swiper-pagination-bullet-active{
    width: 26px;
    border-radius: 90px ;
}
.swiper-pagination-bullet{
    width: 5px;
    height: 0;
    background-color: #D60000;
    opacity: 1;
    border: 5px solid #D60000;
}
.swiper-pagination{
    left: -50px !important;
}
@media (max-width: 480px){
    .swiper-pagination{
        left: 50% !important;
        bottom: -100px !important;
        transform: translateX(-50%);
    }
}
.swiper-slide{
    overflow: hidden;
}